@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
  weight: 500;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
